@model List<API.Core.Models.UserDocumentViewModel>
@{ ViewData["Title"] = "User Documents";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h3>@ViewBag.StatusCode</h3>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
<br />
<h2>Add Document</h2>
<br />
<div class="panel panel-default">
    <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="panel-body">
            <div class="row form-group">
                <label class="col-md-2" for="Document">Select Document:</label>
                <input type="file" name="Document" accept="application/pdf" />
            </div>
            <div class="row form-group">
                <label class="col-md-2" for="Username">User name:</label>
                <input class="form-control col-md-4" name="UserName" maxlength="200" required />
            </div>
        </div>
        <div class="panel-footer" style="margin-left:16%;">
            <button type="submit" class="btn btn-sm btn-primary">Upload</button>
        </div>
    </form>
</div>

<br />
<br />
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name of User</th>
                <th>Name of Document</th>
                <th>Uploaded At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.DocumentName</td>
                    <td>@item.DocumentUploadedDateTime.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-primary" href="@item.DocumentPath" alt="No Document found" target="_blank">View</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete","Home", new { documentId = item.DocumentId })" method="delete">Delete</a>
                    </td>
                </tr>
                }
            }
        else
         {
            <tr>
                <td colspan="4">No Records found.</td>
            </tr>
        }
        </tbody>
    </table>
</div>